.button {

	/*Button Styles */
	height: 30px;
	width: 200px;
	background: #F5A623;
  	padding: 10px 50px 10px 50px;
	margin: 1em auto;
	display: block;

	/*Text Styles */
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}
