.button {

	/*Button Styles */
	height: 50px;
	width: 300px;
	background: #F5A623;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 80px;
	padding-right: 80px;
	margin: 50px;

	/*Text Styles */
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.button:hover {
  background: #EA950E;
  text-decoration: none;
}