html, body {
	margin: 0;
}

li {
	list-style-type: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FCFCFC;
}

header {
	background-color:#FCFCFC;
}

header > nav {
	text-align: right;
	padding-right: 1em;
}

header > nav ul {
	list-style-type: none;
}

header > nav ul li {
	display: inline-block;
}

header > nav ul li a {
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size: 15px;
}

header > nav ul li a:hover {
	padding: 10px;
	color: #F5A623;
	text-decoration: none;
	font-size: 15px;
}

.header-img {
	float: left;
	height: 1.5em;
	padding-left: 1em;
}

#bg {
	position: relative;
	width: 100%;
	height: 325px;
	background-image: url(../images/hero.png);
	background-size: cover;
	background-position: center center;
	border-bottom: 5px solid #F5A623;
}

#about {
	max-width: 50em; margin: 0 auto;
}

#hello {
	margin: 0;
	color: white;
	font-size: 4em;
	text-align: center;
	padding-top: 2em;
}

#name {
	margin: 0;
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding-top: 0em;
}

#role {
	text-align: center;
	color:  whitesmoke;
}

#about-jacq {
	text-align: center;
}

#contact {
	text-align: center;
	margin-bottom: 1em;
}

#logo {
	text-align: center; 
	padding-top: 20px;
}

#skills {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #212121;
	color: white;
}

#skills > .divider {
	width: 200px;
	color: white;
}

#portfolio {
	position: relative;
	width: 100%;
	min-height: 400px;
	background-color: white;
	text-align: center;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 20px 0;
}

.section-content > div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.section-content {
	margin-top: 2em;
}

@media only screen and (max-width: 1192px) {
	.section-content > div {
	    display: block;
	}
	header > nav ul li a {
		padding: 10px;
		color: black;
		text-decoration: none;
		font-size: 11px;
	}

	header > nav ul li a:hover {
		padding: 10px;
		color: #F5A623;
		text-decoration: none;
		font-size: 11px;
	}
	.header-img {
		float: left;
		height: 1.5em;
		padding-left: 1em;
	}
}

.skills-img {
	max-height: 100px;
	max-width: 100px;
}

.skills-img:hover {
	max-height: 100px;
	max-width: 100px;	
}

.portfolio-img {
	max-height: 200px;
	min-width: 300px;
}

.portfolio-img:hover {
	max-height: 200px;
	min-width: 300px;
	background-color: #FCFCFC;
}

.divider {
	width: 200px;
	color: #C9C9C9;
}

.button {

	/*Button Styles */
	height: 30px;
	width: 200px;
	background: #F5A623;
  	padding: 10px 50px 10px 50px;
	display: block;

	/*Text Styles */
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	margin: 0 auto;
}

.button:hover {
  background: #DB8E0E
}

.social {
	height:2em; 
	padding: 1em;
	opacity: 0.5;
}

.social:hover {
	height:2em; 
	padding: 1em;
	opacity: 1;
}

footer {
	font-size: .75em;
	text-align: center;
	color: whitesmoke;
	background-color: #212121;
	height: 150px;
}

#footer-content {
	padding-top: 1em;
}
