* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4DA1A9;
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #4DA1A9;
}

#content {
  text-align: center;
}

#swatch {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4em 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-weight: lighter;
}

@media (min-width: 500px) {
  #swatch {
    padding: 3em 0;
  }
}

@media (min-width: 800px) {
  #swatch {
    padding: 2em 0;
  }
}